.author {
  .twitter {
    a {
      color: #59adec;

      &:hover {
        color: #fff;
        background-color: #59adec;
      }
    }
  }
  .github {
    a {
      color: $font-color;

      &:hover {
        color: #fff;
        background-color: $font-color;
      }
    }
  }
}

.About {
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1;
  }
  h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1;
    color: $font-color-sub;
  }
}

.Portrait {
  width: 100%;
}

.Bio {
  font-size: .8rem;
}

.Contact {
  margin-top: 20px;
}

.Contact__Heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.ContactList__Item {
  display: inline-block;
  margin-right: 15px;

  a {
    border-radius: 2px;
    padding: 2px 6px 3px;
    font-size: 15px;

    &:hover {
      text-decoration: none;
    }
  }

  .lsf {
    margin-right: 6px;
    font-size: 20px;
    vertical-align: -1px;
  }
}

.ContactList__Item.-twitter {
  a {
    color: $twitter;

    &:hover {
      color: #fff;
      background-color: $twitter;
    }
  }
}

.ContactList__Item.-github {
  a {
    color: $font-color;

    &:hover {
      color: #fff;
      background-color: $font-color;
    }
  }
}

@media only screen and (max-width: 414px) {
  
}
