$green: #3baf7c;
$white: #fff;
$twitter: #59adec;
$inner-width: 750px;
$header-height: 60px;
$font-color: #40424a;
$font-color-sub: #90929a;
$font-color-sub2: #60626a;
$link-color: #5d95e0;
$dark-gray: #1e2b37;
$light-gray: #f6f7f8;
