<section class="author">
  <h2>Author</h2>
  <div class="inner">
    <%= image_tag 'profile_icon.png', :class => 'portrait' %>
    <div>
      <h1>Keita Nakanishi</h1>
      <p>
        Web Frontend Engineer at CyberAgent, Inc.
      </p>
      <ul class="social-links">
        <li class="twitter">
          <a href="https://twitter.com/nakanishy" title="twitter" target="_blank">
            <i class="lsf" role="presentation">twitter</i>Twitter
          </a>
        </li>
        <li class="github">
          <a href="https://github.com/nakanishy" title="github" target="_blank">
            <i class="lsf" role="presentation">github</i>GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
