<footer class="footer group" role="contentinfo">
  <div class="left">
    <span>
      <a href="http://nakanishy.com/" title="About Me">About me</a>
    </span>
  </div>
  <div class="right">
    <small class="copyright">
      &copy; 2016 Keita Nakanishi
    </small>
  </div>
</footer>
