<footer class="footer group" role="contentinfo">
  <div class="links">
    <span>
      <a href="http://nakanishy.com/" title="About Me">About me</a>
    </span>
  </div>
  <div class="copyright">
    <small>
      &copy; 2016 <a href="https://twitter.com/nakanishy" target="_blank">@nakanishy</a>
    </small>
  </div>
</footer>
