<header class="header" role="banner">
  <h1 class="logo">
    <a href="/">
      <%= image_tag 'profile_icon.png' %>
      <span>
        <span style="color: #90929a">blog.</span>nakanishy<span style="color: #90929a;">.com</span>
      </span>
    </a>
  </h1>
</header>
