<header class="Header" role="banner">
  <h1 class="Logo Header__Item">
    <a class="Logo__Anchor" href="/" title="@nakanishy's blog">
      <span>@nakanishy</span>
    </a>
  </h1>
  <ul class="Navigation Header__Item -right">
    <li><a class="Navigation__Anchor" href="/about.html" title="About me">About</a></li>
  </ul>
</header>
