<section class="About">
  <%= image_tag 'portrait.jpg', :class => 'Portrait' %>
  <h1>Keita Nakanishi</h1>
  <h2>@nakanishy</h2>
  <p class="Bio">
    株式会社サイバーエージェントのWebフロントエンドエンジニア。<br>
    13歳からWebに興味を持ち、サービス開発を行う。Web開発、デザイン、ピアノが好き。
  </p>
</section>
<section class="Contact">
  <h2 class="Contact__Heading">Contact</h2>
  <ul class="ContactList">
    <li class="ContactList__Item -twitter">
      <a href="https://twitter.com/nakanishy" title="twitter" target="_blank">
        <i class="lsf" role="presentation">twitter</i>Twitter
      </a>
    </li>
    <li class="ContactList__Item -github">
      <a href="https://github.com/nakanishy" title="github" target="_blank">
        <i class="lsf" role="presentation">github</i>GitHub
      </a>
    </li>
  </ul>
</section>
